In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('loan-prediction.csv')
df.head()

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...            1.0         Urban           Y
1  LP001003   Male     Yes  ...            1.0         Rural           N
2  LP001005   Male     Yes  ...            1.0         Urban           Y
3  LP001006   Male     Yes  ...            1.0         Urban           Y
4  LP001008   Male      No  ...            1.0         Urban           Y

[5 rows x 13 columns]

In [5]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [9]:
df.describe()

       ApplicantIncome  CoapplicantIncome  ...  Loan_Amount_Term  Credit_History
count       614.000000         614.000000  ...         600.00000      564.000000
mean       5403.459283        1621.245798  ...         342.00000        0.842199
std        6109.041673        2926.248369  ...          65.12041        0.364878
min         150.000000           0.000000  ...          12.00000        0.000000
25%        2877.500000           0.000000  ...         360.00000        1.000000
50%        3812.500000        1188.500000  ...         360.00000        1.000000
75%        5795.000000        2297.250000  ...         360.00000        1.000000
max       81000.000000       41667.000000  ...         480.00000        1.000000

[8 rows x 5 columns]

In [13]:
# delete row
df1 = df.dropna(axis = 0)
df1.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [15]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 480 entries, 1 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            480 non-null    object
 1   Gender             480 non-null    object
 2   Married            480 non-null    object
 3   Dependents         480 non-null    object
 4   Education          480 non-null    object
 5   Self_Employed      480 non-null    object
 6   ApplicantIncome    480 non-null    int64
 7   CoapplicantIncome  480 non-null    float64
 8   LoanAmount         480 non-null    float64
 9   Loan_Amount_Term   480 non-null    float64
 10  Credit_History     480 non-null    float64
 11  Property_Area      480 non-null    object
 12  Loan_Status        480 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 52.5+ KB

In [17]:
# delete col
df2 = df.drop(['Self_Employed'], axis = 1)
df2.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [21]:
df2.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [23]:
# impute => replace => specific => 0
df2['LoanAmount'] = df2['LoanAmount'].fillna(0)
df2.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [25]:
df2.describe()

       ApplicantIncome  CoapplicantIncome  ...  Loan_Amount_Term  Credit_History
count       614.000000         614.000000  ...         600.00000      564.000000
mean       5403.459283        1621.245798  ...         342.00000        0.842199
std        6109.041673        2926.248369  ...          65.12041        0.364878
min         150.000000           0.000000  ...          12.00000        0.000000
25%        2877.500000           0.000000  ...         360.00000        1.000000
50%        3812.500000        1188.500000  ...         360.00000        1.000000
75%        5795.000000        2297.250000  ...         360.00000        1.000000
max       81000.000000       41667.000000  ...         480.00000        1.000000

[8 rows x 5 columns]

In [29]:
df2.head(20)

     Loan_ID  Gender Married  ... Credit_History Property_Area  Loan_Status
0   LP001002    Male      No  ...            1.0         Urban            Y
1   LP001003    Male     Yes  ...            1.0         Rural            N
2   LP001005    Male     Yes  ...            1.0         Urban            Y
3   LP001006    Male     Yes  ...            1.0         Urban            Y
4   LP001008    Male      No  ...            1.0         Urban            Y
5   LP001011    Male     Yes  ...            1.0         Urban            Y
6   LP001013    Male     Yes  ...            1.0         Urban            Y
7   LP001014    Male     Yes  ...            0.0     Semiurban            N
8   LP001018    Male     Yes  ...            1.0         Urban            Y
9   LP001020    Male     Yes  ...            1.0     Semiurban            N
10  LP001024    Male     Yes  ...            1.0         Urban            Y
11  LP001027    Male     Yes  ...            1.0         Urban            Y
12  LP001028    Male     Yes  ...            1.0         Urban            Y
13  LP001029    Male      No  ...            1.0         Rural            N
14  LP001030    Male     Yes  ...            1.0         Urban            Y
15  LP001032    Male      No  ...            1.0         Urban            Y
16  LP001034    Male      No  ...            NaN         Urban            Y
17  LP001036  Female      No  ...            0.0         Urban            N
18  LP001038    Male     Yes  ...            1.0         Rural            N
19  LP001041    Male     Yes  ...            1.0         Urban            Y

[20 rows x 12 columns]

In [31]:
# impute => mean
df2['Credit_History'] = df2['Credit_History'].fillna(df2['Credit_History'].mean())

In [33]:
df2.head(20)

     Loan_ID  Gender Married  ... Credit_History Property_Area  Loan_Status
0   LP001002    Male      No  ...       1.000000         Urban            Y
1   LP001003    Male     Yes  ...       1.000000         Rural            N
2   LP001005    Male     Yes  ...       1.000000         Urban            Y
3   LP001006    Male     Yes  ...       1.000000         Urban            Y
4   LP001008    Male      No  ...       1.000000         Urban            Y
5   LP001011    Male     Yes  ...       1.000000         Urban            Y
6   LP001013    Male     Yes  ...       1.000000         Urban            Y
7   LP001014    Male     Yes  ...       0.000000     Semiurban            N
8   LP001018    Male     Yes  ...       1.000000         Urban            Y
9   LP001020    Male     Yes  ...       1.000000     Semiurban            N
10  LP001024    Male     Yes  ...       1.000000         Urban            Y
11  LP001027    Male     Yes  ...       1.000000         Urban            Y
12  LP001028    Male     Yes  ...       1.000000         Urban            Y
13  LP001029    Male      No  ...       1.000000         Rural            N
14  LP001030    Male     Yes  ...       1.000000         Urban            Y
15  LP001032    Male      No  ...       1.000000         Urban            Y
16  LP001034    Male      No  ...       0.842199         Urban            Y
17  LP001036  Female      No  ...       0.000000         Urban            N
18  LP001038    Male     Yes  ...       1.000000         Rural            N
19  LP001041    Male     Yes  ...       1.000000         Urban            Y

[20 rows x 12 columns]

In [35]:
# impute => mode
df2['Gender'] = df2['Gender'].fillna(df2['Gender'].mode()[0])
df2['Married'] = df2['Married'].fillna(df2['Married'].mode()[0])
df2.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents           15
Education             0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     14
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [37]:
df2['Loan_Amount_Term'] = df2['Loan_Amount_Term'].fillna(df2['Loan_Amount_Term'].median())
df2.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents           15
Education             0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [39]:
import pandas as pd
import numpy as np
test = pd.Series(range(6))
test

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [41]:
test.loc[2:4] = np.nan
test

0    0.0
1    1.0
2    NaN
3    NaN
4    NaN
5    5.0
dtype: float64

In [43]:
# method => fill
#ffill
test.fillna(method = 'ffill')

C:\Users\AJANTHA\AppData\Local\Temp\ipykernel_13180\762982783.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  test.fillna(method = 'ffill')

0    0.0
1    1.0
2    1.0
3    1.0
4    1.0
5    5.0
dtype: float64

In [47]:

test

0    0.0
1    1.0
2    NaN
3    NaN
4    NaN
5    5.0
dtype: float64

In [49]:
test = test.fillna(method = 'bfill')
test

C:\Users\AJANTHA\AppData\Local\Temp\ipykernel_13180\3663636104.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  test = test.fillna(method = 'bfill')

0    0.0
1    1.0
2    5.0
3    5.0
4    5.0
5    5.0
dtype: float64

In [51]:
test.loc[2:4] = np.nan
test

0    0.0
1    1.0
2    NaN
3    NaN
4    NaN
5    5.0
dtype: float64

In [55]:
test.interpolate()

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
dtype: float64

In [57]:
# categorical

x = pd.DataFrame({'Shape':['sq','cir','sq','oval',np.nan]})
x

  Shape
0    sq
1   cir
2    sq
3  oval
4   NaN

In [59]:
from sklearn.impute import SimpleImputer
impute = SimpleImputer(strategy='most_frequent')
impute.fit_transform(x)

array([['sq'],
       ['cir'],
       ['sq'],
       ['oval'],
       ['sq']], dtype=object)

In [61]:
impute = SimpleImputer(strategy='constant', fill_value='missing')
impute.fit_transform(x)

array([['sq'],
       ['cir'],
       ['sq'],
       ['oval'],
       ['missing']], dtype=object)

In [69]:

imp= SimpleImputer(missing_values=np.nan, strategy='mean')
imp.fit([[1,2],[np.nan,3],[7,6]])

SimpleImputer()

In [71]:
x = [[1,2],[np.nan,3],[7,6]]
print(imp.transform(x))

[[1. 2.]
 [4. 3.]
 [7. 6.]]

In [75]:
x1 = [[np.nan, 2],
     [6,np.nan],
     [7,6]]
print(imp.transform(x1))

[[4.         2.        ]
 [6.         3.66666667]
 [7.         6.        ]]